# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# jupyter trash
.Trash-999/*

# searxng
searxng-docker.service
srv
containers/searxng/data/uwsgi.ini
containers/searxng/data/settings.yml

# stirling-pdf
containers/stirling-pdf/data/extraConfigs/*
containers/stirling-pdf/data/trainingData/*
!containers/stirling-pdf/data/extraConfigs/.gitkeep
!containers/stirling-pdf/data/trainingData/.gitkeep

# tasks.md
containers/tasks.md/data/config/*
containers/tasks.md/data/tasks/*
!containers/tasks.md/data/config/.gitkeep
!containers/tasks.md/data/tasks/.gitkeep

# linkwarden
containers/linkwarden/data/lkdata/*
containers/linkwarden/data/pgdata/*
!containers/linkwarden/data/lkdata/.gitkeep
!containers/linkwarden/data/pgdata/.gitkeep

# portainer
containers/portainer/data/*
!containers/portainer/data/.gitkeep

# uptime
containers/uptime/data/*
!containers/uptime/data/.gitkeep

# actualbudget
containers/actualbudget/data/*
!containers/actualbudget/data/.gitkeep

# tandoor
containers/tandoor/data/*
!containers/tandoor/data/mediafiles/.gitkeep

# wealthfolio
containers/wealthfolio/data/*
!containers/wealthfolio/data/.gitkeep

