[Unit]
Description=Homepage
After=network-online.target

[Container]
ContainerName=homepage
Image=ghcr.io/gethomepage/homepage:latest
PublishPort=${HOMEPAGE_HTTP_PORT}:3000
Volume=%h/services/homepage/data:/app/config
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro
EnvironmentFile=%h/.config/containers/systemd/homepage.env
Network=reverse_proxy

[Service]
Restart=always

[Install]
WantedBy=default.target
